
.hero_btn{
    
    width:100%;

}
.hero_btn button{
    width:250px;
    height:50px;
    border: 0;
    outline:none;
    background:#2f2f2f;
    color:#fff;
    font-size:22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
        }
        .cart-check-box{
            /* position: absolute; */
            width: 50px;
                    height: 50px;
                    border-radius:40px;
            box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
            position: absolute;
          top: 0;
          right: -40px;
         /* background: red; */
         opacity: 0;
        }
        .cart-check-box svg{
            width:40px;
            margin: 0px;
        }
      .cart-check-box  svg path{
            stroke-width:3 ;
            stroke: #fff;
               stroke-dasharray: 34;
               stroke-dashoffset: 34;
               stroke-linecap: round;
        }
        .active_btn{
            background: #ff2b75 !important;
            transition: 1s;

        }
        .active_btn .cart-check-box{
             right: 0;
                    opacity: 1;
                    transition: 1s;

        }
        .active_btn p{
            margin-right: 90px;
            transition: 1s;
        }
        .active_btn svg path{
            stroke-dashoffset: 5;
            transition: 1s;
            transition-delay: 1s;
        }